*{
  margin: 0px;
    padding: 0px;
}

body{
  margin-bottom: 100px;
}

h1{
  color: white;
}

p{
  margin-top: 15px; 
}

img{
  width: 100%;
}

.heading{
  margin: 0;
  height: 70px;
  background-color: black;
  border-bottom: 4px solid grey;
}

.title{
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
  height: 100%;
  padding-top: 5px;
  text-align: center;
}

.content-area{
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.infographic{
  margin: 20px;
}
